# Capstone Project - car collisions

## The Query Objective

The dataset of Seattle Car Collisions has data of pedestrians, cyclists and vehicles involved in collisions. The main objective using this dataset is to explore 
- how many collisions involve cyclists and pedestrians
- whether the driver was distracted (inattention) was a factor
- the frequency of cyclist collisions using date and time data
- what areas have the most frequency of cyclist collisions
<br>
<br>
The audience for this project is for pedestrians and cyclists in the Seattle area.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import folium
import seaborn as sb

In [8]:
df = pd.read_csv('Collisions.csv')
df.head(30)

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,-122.356511,47.517361,1,327920,329420,3856094,Matched,Intersection,34911.0,17TH AVE SW AND SW ROXBURY ST,...,Dry,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,-122.361405,47.702064,2,46200,46200,1791736,Matched,Block,NaN,HOLMAN RD NW BETWEEN 4TH AVE NW AND 3RD AVE NW,...,Wet,Dusk,NaN,5101020.0,NaN,13,From same direction - both going straight - bo...,0,0,N
2,-122.317414,47.664028,3,1212,1212,3507861,Matched,Block,NaN,ROOSEVELT WAY NE BETWEEN NE 47TH ST AND NE 50T...,...,Dry,Dark - Street Lights On,NaN,NaN,NaN,30,From opposite direction - all others,0,0,N
3,-122.318234,47.619927,4,327909,329409,EA03026,Matched,Intersection,29054.0,11TH AVE E AND E JOHN ST,...,Wet,Dark - Street Lights On,NaN,NaN,NaN,0,Vehicle going straight hits pedestrian,0,0,N
4,-122.351724,47.560306,5,104900,104900,2671936,Matched,Block,NaN,WEST MARGINAL WAY SW BETWEEN SW ALASKA ST AND ...,...,Ice,Dark - Street Lights On,NaN,9359012.0,Y,50,Fixed object,0,0,N
5,-122.333067,47.544302,6,322205,323705,3694789,Matched,Block,NaN,1ST AV S NB OFF RP BETWEEN 1ST AV S BR NB AND ...,...,Dry,Daylight,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N
6,-122.338543,47.616874,7,322275,323775,E949282,Matched,Block,NaN,8TH AVE BETWEEN WESTLAKE AVE AND BLANCHARD ST,...,Dry,Daylight,NaN,NaN,NaN,5,Vehicle Strikes Pedalcyclist,0,0,N
7,NaN,NaN,8,5721,5721,1786583,Unmatched,NaN,NaN,NaN,...,Dry,Daylight,NaN,3239035.0,NaN,32,One parked--one moving,0,0,N
8,-122.360959,47.571594,9,33400,33400,1076890,Matched,Block,NaN,WEST SEATTLE BR WB BETWEEN W SEATTLE BR WB OFF...,...,Dry,Daylight,NaN,5187041.0,NaN,13,From same direction - both going straight - bo...,0,0,N
9,-122.336856,47.655652,10,20400,20400,1220377,Matched,Block,NaN,N 40TH ST BETWEEN DENSMORE AVE N AND WALLINGFO...,...,Wet,Dusk,NaN,4216016.0,NaN,14,From same direction - both going straight - on...,0,0,N
10,-122.316123,47.607424,11,1018,1018,3645722,Unmatched,Block,NaN,E JAMES CT BETWEEN 12TH AVE AND 13TH AVE,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
11,-122.385859,47.581191,12,64700,64700,2798260,Matched,Block,NaN,SW ADMIRAL WAY BETWEEN 42ND AVE SW AND CALIFOR...,...,Dry,Daylight,NaN,7204015.0,NaN,10,Entering at angle,0,0,N
12,-122.344896,47.717173,13,1003,1003,3503158,Matched,Block,NaN,AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST,...,Dry,Daylight,Y,NaN,NaN,45,Vehicle - Pedalcyclist,15057,0,N
13,-122.334201,47.578771,14,43600,43600,1482399,Matched,Block,NaN,1ST AVE S BETWEEN S LANDER ST AND S FOREST ST,...,Dry,Daylight,NaN,5067010.0,NaN,22,One car leaving driveway access,0,0,N
14,-122.337486,47.589746,15,28700,28700,1213894,Matched,Block,NaN,ALASKAN WY VI SB BETWEEN ALASKAN WY VI SB EFR ...,...,Unknown,Unknown,NaN,4256026.0,NaN,51,Other object,0,0,N
15,-122.358250,47.732321,16,63600,63600,2188744,Matched,Intersection,35587.0,1ST AVE NW AND NW 143RD ST,...,Dry,Daylight,NaN,6136002.0,NaN,45,Vehicle - Pedalcyclist,0,0,N
16,-122.408105,47.576818,17,1193,1193,3380606,Matched,Block,NaN,59TH AVE SW BETWEEN SW STEVENS ST AND SW ADMIR...,...,Dry,Daylight,NaN,NaN,NaN,32,One parked--one moving,0,0,N
17,NaN,NaN,18,327878,329378,EA03057,Matched,NaN,NaN,NaN,...,Unknown,Unknown,NaN,NaN,NaN,32,One parked--one moving,0,0,Y
18,-122.343982,47.622607,19,118600,118600,2690466,Unmatched,Block,NaN,AURORA AVE N BETWEEN HARRISON ST AND REPUBLICA...,...,NaN,NaN,NaN,11269046.0,NaN,NaN,NaN,0,0,N
19,-122.336747,47.686304,20,1351,1351,3501460,Matched,Block,NaN,WALLINGFORD AVE N BETWEEN EAST GREEN LAKE DR N...,...,Dry,Daylight,NaN,NaN,NaN,32,One parked--one moving,0,0,N
20,-122.313468,47.554101,21,60400,60400,2612605,Matched,Block,NaN,15TH AVE S BETWEEN S BENNETT ST AND S LUCILE ST,...,Wet,Dark - Street Lights On,NaN,6211008.0,Y,50,Fixed object,0,0,N
21,-122.389861,47.583002,22,31400,31400,04283054,Unmatched,Block,NaN,SW COLLEGE ST BETWEEN 45TH AVE SW AND 46TH AVE SW,...,NaN,NaN,NaN,4283054.0,NaN,NaN,NaN,0,0,N
22,-122.373129,47.683246,23,1100,1100,3507854,Matched,Block,NaN,NW 75TH ST BETWEEN 13TH AVE NW AND 14TH E AVE NW,...,Dry,Daylight,NaN,NaN,NaN,32,One parked--one moving,0,0,N
23,-122.350171,47.625860,24,92000,92000,3285732,Matched,Block,NaN,NOB HILL AVE N BETWEEN ROY ST AND VALLEY ST,...,Unknown,Daylight,NaN,8336035.0,NaN,32,One parked--one moving,0,0,N
24,-122.313439,47.557900,25,52600,52600,2280359,Matched,Intersection,33318.0,15TH AVE S AND S SHELTON ST,...,Wet,Daylight,NaN,6082015.0,NaN,14,From same direction - both going straight - on...,0,0,N
25,-122.384750,47.666467,26,39200,39200,2023480,Matched,Intersection,25166.0,22ND AVE NW AND SHILSHOLE AVE NW,...,Dry,Daylight,NaN,5166019.0,NaN,13,From same direction - both going straight - bo...,0,0,N
26,-122.273215,47.560577,27,47700,47700,2026404,Matched,Intersection,32617.0,48TH AVE S AND S ALASKA ST,...,Dry,Daylight,NaN,5222006.0,NaN,45,Vehicle - Pedalcyclist,0,0,N
27,-122.345085,47.733063,28,1318,1318,3501984,Matched,Block,NaN,AURORA AVE N BETWEEN N 143RD ST AND ROOSEVELT ...,...,Dry,Daylight,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N
28,-122.342347,47.624608,29,327873,329373,EA01308,Matched,Block,NaN,DEXTER AVE N BETWEEN MERCER ST AND BROAD ST,...,Dry,Daylight,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N
29,-122.317364,47.669714,30,23700,23700,1778645,Matched,Block,NaN,ROOSEVELT WAY NE BETWEEN NE 56TH ST AND NE 57T...,...,Dry,Daylight,NaN,4155004.0,NaN,15,From same direction - one left turn - one stra...,0,0,N

In [9]:
df.columns

Index(['X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'STATUS',
       'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC',
       'SEVERITYCODE', 'SEVERITYDESC', 'COLLISIONTYPE', 'PERSONCOUNT',
       'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INJURIES', 'SERIOUSINJURIES',
       'FATALITIES', 'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE',
       'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND',
       'LIGHTCOND', 'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE',
       'ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [14]:
df.shape

(221738, 40)

## Background Information

This dataset is of all the collisions provided by Seattle Police Department (SPD) and recorded by Traffic Records.  This dataset includes all types of collisions and datatypes. The timeframe is from 2004 to Oct 1 2020  when the dataset was downloaded.

## Data Description

The dataset has 40 columns and over 221,000 rows of data. The columns that will be used for the Data Understanding will be related to bicyles, injuries, number of vehicles involved in collisions, date and time of collisions, and the factor of the driver paying attention.

# columns of interest description

PERSONCOUNT = total number of people involved in the collision
PEDCOUNT = number of pedestrians involved in the collision. This is entered by the state.
PEDCYLCOUNT = number of bicycles involved in the collision. This is entered by the state
VEHCOUNT = number of vehicles involved in the collision. This is entered by the state.
INJURIES = number of total injuries in the collision. This is entered by the state.
SERIOUSINJURIES = number of serious injuries in the collision. This is entered by the state.
FATALITIES =  number of fatalities in the collision. This is entered by the state.

INCDTTM = The date and time of the incident.
INATTENTIONIND = Whether or not collision was due to inattention. (Y/N)

LOCATION = Description of the general location of the collision
ADDRTYPE = Collision address type: Alley, Block, Intersection

## Data Preparation

In [16]:
# check for missing values in df
missing_values = df.isnull().sum()
missing_values

X                    7478
Y                    7478
OBJECTID                0
INCKEY                  0
COLDETKEY               0
REPORTNO                0
STATUS                  0
ADDRTYPE             3714
INTKEY             149711
LOCATION             4593
EXCEPTRSNCODE      120403
EXCEPTRSNDESC      209953
SEVERITYCODE            1
SEVERITYDESC            0
COLLISIONTYPE       26451
PERSONCOUNT             0
PEDCOUNT                0
PEDCYLCOUNT             0
VEHCOUNT                0
INJURIES                0
SERIOUSINJURIES         0
FATALITIES              0
INCDATE                 0
INCDTTM                 0
JUNCTIONTYPE        11979
SDOT_COLCODE            1
SDOT_COLDESC            1
INATTENTIONIND     191550
UNDERINFL           26431
WEATHER             26641
ROADCOND            26560
LIGHTCOND           26730
PEDROWNOTGRNT      216543
SDOTCOLNUM          94533
SPEEDING           211802
ST_COLCODE           9413
ST_COLDESC          26451
SEGLANEKEY              0
CROSSWALKKEY            0
HITPARKEDCAR            0
dtype: int64

# columns of interest with any missing values summarized

PERSONCOUNT             0
PEDCOUNT                0
PEDCYLCOUNT             0
VEHCOUNT                0
INJURIES                0
SERIOUSINJURIES         0
FATALITIES              0
INCDATE                 0
INCDTTM                 0
INATTENTIONIND     191550
LOCATION             4593
ADDRTYPE             3714

# column INATTENTIONIND has many missing values

In [24]:
# find the the number of misisng values for just column LOCATION
location_missing = df['LOCATION'].isnull().sum()
location_missing

4593

In [25]:
# get the total missing values from dataframe
total_missing = np.product(df.shape)
total_missing

8869520

In [26]:
TOTAL_missing = location_missing.sum()
TOTAL_missing

4593

In [27]:
# determine the percent of LOCATION data with missing values represents 
percent_missing = (TOTAL_missing / total_missing  ) *100
percent_missing

0.05178408752672072

The total of all LOCATION missing values of dataset represents only 0.05% of data. This column can be used later for map visualizations

In [17]:
df_dropped = df.dropna(axis=1)
df_dropped.head(20)

,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,SEVERITYDESC,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,INCDATE,INCDTTM,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,1,327920,329420,3856094,Matched,Property Damage Only Collision,2,0,0,2,0,0,0,2020/01/19 00:00:00+00,1/19/2020 9:01:00 AM,0,0,N
1,2,46200,46200,1791736,Matched,Property Damage Only Collision,2,0,0,2,0,0,0,2005/04/11 00:00:00+00,4/11/2005 6:31:00 PM,0,0,N
2,3,1212,1212,3507861,Matched,Injury Collision,2,0,0,2,1,0,0,2013/03/31 00:00:00+00,3/31/2013 2:09:00 AM,0,0,N
3,4,327909,329409,EA03026,Matched,Injury Collision,3,1,0,1,1,0,0,2020/01/06 00:00:00+00,1/6/2020 5:55:00 PM,0,0,N
4,5,104900,104900,2671936,Matched,Injury Collision,2,0,0,1,1,0,0,2009/12/25 00:00:00+00,12/25/2009 7:00:00 PM,0,0,N
5,6,322205,323705,3694789,Matched,Property Damage Only Collision,2,0,0,2,0,0,0,2019/08/08 00:00:00+00,8/8/2019 12:49:00 PM,0,0,N
6,7,322275,323775,E949282,Matched,Property Damage Only Collision,3,0,1,1,0,0,0,2019/08/08 00:00:00+00,8/8/2019 8:57:00 AM,0,0,N
7,8,5721,5721,1786583,Unmatched,Property Damage Only Collision,0,0,0,2,0,0,0,2007/08/27 00:00:00+00,8/27/2007,0,0,N
8,9,33400,33400,1076890,Matched,Serious Injury Collision,3,0,0,3,3,1,0,2005/07/06 00:00:00+00,7/6/2005,0,0,N
9,10,20400,20400,1220377,Matched,Property Damage Only Collision,2,0,0,2,0,0,0,2004/08/03 00:00:00+00,8/3/2004,0,0,N
10,11,1018,1018,3645722,Unmatched,Unknown,0,0,0,0,0,0,0,2013/03/22 00:00:00+00,3/22/2013,0,0,N
11,12,64700,64700,2798260,Matched,Property Damage Only Collision,2,0,0,2,0,0,0,2007/07/23 00:00:00+00,7/23/2007 4:30:00 PM,0,0,N
12,13,1003,1003,3503158,Matched,Injury Collision,2,0,1,1,1,0,0,2013/03/14 00:00:00+00,3/14/2013 5:30:00 PM,15057,0,N
13,14,43600,43600,1482399,Matched,Injury Collision,2,0,0,2,1,0,0,2005/03/08 00:00:00+00,3/8/2005,0,0,N
14,15,28700,28700,1213894,Matched,Property Damage Only Collision,1,0,0,1,0,0,0,2004/09/12 00:00:00+00,9/12/2004 6:20:00 AM,0,0,N
15,16,63600,63600,2188744,Matched,Injury Collision,2,0,1,1,1,0,0,2006/05/16 00:00:00+00,5/16/2006 6:30:00 AM,0,0,N
16,17,1193,1193,3380606,Matched,Property Damage Only Collision,3,0,0,2,0,0,0,2013/03/29 00:00:00+00,3/29/2013 3:18:00 PM,0,0,N
17,18,327878,329378,EA03057,Matched,Property Damage Only Collision,2,0,0,2,0,0,0,2019/12/31 00:00:00+00,12/31/2019 11:00:00 AM,0,0,Y
18,19,118600,118600,2690466,Unmatched,Unknown,0,0,0,0,0,0,0,2011/09/26 00:00:00+00,9/26/2011,0,0,N
19,20,1351,1351,3501460,Matched,Property Damage Only Collision,2,0,0,2,0,0,0,2013/04/02 00:00:00+00,4/2/2013 12:00:00 PM,0,0,N

In [18]:
df_dropped.shape

(221738, 18)

In [19]:
df_dropped.isnull().sum()

OBJECTID           0
INCKEY             0
COLDETKEY          0
REPORTNO           0
STATUS             0
SEVERITYDESC       0
PERSONCOUNT        0
PEDCOUNT           0
PEDCYLCOUNT        0
VEHCOUNT           0
INJURIES           0
SERIOUSINJURIES    0
FATALITIES         0
INCDATE            0
INCDTTM            0
SEGLANEKEY         0
CROSSWALKKEY       0
HITPARKEDCAR       0
dtype: int64

The df_dropped dataset now has 18 columns wide instead of 40 with no missing values. The columns of interest are all numeric and ready for use.